/* You can add global styles to this file, and also import other style files */
$font-path: "assets/fonts"; /* From ../node_modules/carbon-components/src/globals/fonts " */
$feature-flags: (
    ui-shell: true,
);

@import "~carbon-components/scss/globals/scss/styles.scss";
